<!DOCTYPE html>
<html>
<head>
    <title>GHMC Smart Waste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<nav class="navbar">
    <h2>GHMC Smart Waste Portal</h2>
    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/admin">Admin</a>
        <a href="/export">Export</a>
        <a href="/logout">Logout</a>
        <button onclick="toggleDarkMode()">🌙</button>
    </div>
</nav>

{% block content %}{% endblock %}

<script src="{{ url_for('static', filename='darkmode.js') }}"></script>
</body>
</html>
